@import "tailwindcss";

/* Ajout des polices locales */
@font-face {
  font-family: 'Circular Web';
  src: url('/fonts/circularweb-book.woff2') format('woff2'),
}

@font-face {
  font-family: 'General';
  src: url('/fonts/general.woff2') format('woff2'),
}

@font-face {
  font-family: 'Robert Medium';
  src: url('/fonts/robert-medium.woff2') format('woff2'),
}

@font-face {
  font-family: 'Robert Regular';
  src: url('/fonts/robert-regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'Zentry';
  src: url('/fonts/zentry-regular.woff2') format('woff2'),
}

@theme {
  --font-circular-web: 'Circular Web', sans-serif;
  --font-general: 'General', sans-serif;
  --font-robert-medium: 'Robert Medium', sans-serif;
  --font-robert-regular: 'Robert Regular', sans-serif;
  --font-zentry: 'Zentry', sans-serif;
}

body {
  font-family: 'General Sans', sans-serif;
  width: 100dvw;
  background-color: #dfdff0;
  overflow-x: hidden;
}